body {
    background-color: white;
    font-family: 'Inter', sans-serif;
}

.ad {
    background-color: #4acf50;
    width: calc(100% + 15px);
  margin-left: auto;
    height: 390px;
    display: flex;
    margin-left: -7.5px;
}

.ldv {
    background-color: #9706b3;
    width: calc(100% + 15px);
  margin-left: auto;
    height: 390px;
    display: flex;
    margin-left: -7.5px;
}

.pyaic {
    background-color: #9d1424;
    width: calc(100% + 15px);
  margin-left: auto;
    height: 390px;
    display: flex;
    margin-left: -7.5px;
}

.pyaib {
    background-color: #2865b0;
    width: calc(100% + 15px);
  margin-left: auto;
    height: 390px;
    display: flex;
    margin-left: -7.5px;
}

.pyai {
    background-color: #2dd182;
    width: calc(100% + 15px);
  margin-left: auto;
    height: 390px;
    display: flex;
    margin-left: -7.5px;
}

.top {
    background-color: #34c26c;
    width: calc(100% + 15px);
    height: 110px;
    display: flex;
    margin-left: -7.5px;
    margin-top: -10px;
}

.icon {
    width: 100px;
    height: 100px;
}

.toptitle {
    font-family: tan;
    font-size: 30px;
    color: white;
    margin-right: 40px;
    margin-top: 35px;
}

.toplink {
    text-decoration: underline;
}

.button {
    font-family: tan;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.tab {
    font-family: tan;
    font-size: 20px;
    margin-top: 45px;
    margin-right: 20px;
}
.social {
    background-color: #0600FF;
    width: calc(100% + 15px);
  margin-left: auto;
    height: 390px;
    display: flex;
    margin-left: -7.5px;
}

.play {
    background-color: #FCB200;
    width: calc(100% + 15px);
  margin-left: auto;
    height: 390px;
    display: flex;
    margin-left: -7.5px;
}

.adicon {
    width: 390px;
    height: 390px;
}

.block {
    display: block;
}

.tan {
    font-family: Tan;
}

.centertan {
    font-family: tan;
    text-align: center;
    color: white;
}

.adtitle {
    font-family: tan;
    text-align: center;
    font-size: 60px;
    color: white;
}

.title {
    font-family: tan;
    font-size: 50px;
}

.subtitle {
    font-family: tan;
    font-size: 35px;
}

p {
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}